<!DOCTYPE html>
<html>

<head>

    <title>Momento</title>

    <link rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<nav>

<h2>🎁 Momento</h2>

<ul>

<li><a href="/">Home</a></li>

<li><a href="#">Planner</a></li>

<li><a href="#">Gifts</a></li>

<li><a href="#">Login</a></li>

</ul>

</nav>

<section>

<h1>AI-Powered Customized Gift Ordering</h1>

<p>
Find the perfect gift with AI and never miss important occasions.
</p>

<button>Explore Gifts</button>

</section>

</body>

</html>